{% extends "mikelegalapp/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Release_Date</td>
            <td>Genre</td>
            <td>Price</td>
            <td>Rating</td>
            <td>
                <a href="{% url 'movie_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for movie in movie_list %}
            <tr>
                <td>{{movie.Title}}</td>
                <td>{{movie.Genre}}</td>
                <td>{{movie.Rating}}</td>
                <td>
                    <a href="{% url 'movie_update' movie.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'movie_delete' movie.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}